# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build files
# =========================
build/
dist/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Cache
# =========================
.cache/
.parcel-cache/
.eslintcache

# =========================
# Coverage
# =========================
coverage/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# Runtime files
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Optional package manager files
# =========================
.yarn/
.pnp.*
.npm/

# =========================
# Misc
# =========================
*.tgz